main
{
	border: 3px solid black;
	padding: 20px;
	margin: auto;
	width: 70%;
	height: auto;
	border-radius: 8px;
	background-color: lightgrey;
}

healer
{
	height: 100px;
}
.page
{
	width: 780px;
	margin: auto;
	font-family: "Source sans Pro", calibri, tohama, sans-serif;
	font-size: 16px;
	border-radius: 50%;
}

.infophoto
{
	height: 250px;
}

.info{
	float: left;
}

.photo{
	border-radius: 50%;
	margin-bottom: 5px;
	margin: auto;
	height: 100px;
	float: right;
}

.section{
	border: 3px solid black;
	padding: 5px;
	border-radius: 8px;
	margin-bottom: 70px;
	text-align: justify;
	
}

.sec-gauche{
	float: left;
	font-weight: bold;
	font-size: 20px;
}

.sec-droite{
	margin-left: 150px;
	margin-top: 37px;
}

h2{
	font-size: 20px;
	color: #3388BB;
	border-bottom: 3px solid #3388DD;
}

.duree{
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

.titre{
	font-weight: bold;
	font-size: 16px;
}

#forma-gauche p{
	margin-bottom: 35px;
}